<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBroadcastReciver"
        tools:targetApi="31">
        <activity
            android:name=".recyclerView.RecyclerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".implicitIntent.ImplicitAndroidActivity"
            android:exported="false"
            android:label="@string/title_activity_implicit_android"
            android:theme="@style/Theme.AndroidBroadcastReciver" />
        <activity
            android:name=".explicitIntent.SecondActivityForExplicit"
            android:exported="false"
            android:label="@string/title_activity_second_for_explicit"
            android:theme="@style/Theme.AndroidBroadcastReciver" />
        <activity
            android:name=".explicitIntent.ExplicitIntentActivity"
            android:exported="true"
            android:label="@string/title_activity_explicit_intent"
            android:theme="@style/Theme.AndroidBroadcastReciver">
        </activity>
        <activity
            android:name=".BoundServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_bound_service"
            android:theme="@style/Theme.AndroidBroadcastReciver" />

        <receiver
            android:name=".receiver.GoogleSampleReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH_CONNECT">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_FOUND" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ActionReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidBroadcastReciver" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.narcis.broadcat"> <!-- this intent filter is for android lower than 8 ! -->

                </action>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyBoundService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":myprocess" />
    </application>

</manifest>